.o{
list-style: none;
margin-left: 400px;
margin-top: -200px;
}

div{
    margin-left: 170px;
}

.p{
   text-decoration: underline;
}

.R{
    margin-left:200px;
}

.Y{
    margin-left: 0px;
}

.A{
    text-decoration: underline ;
}

.P{
    margin-left: 0px;
}
.x{
    text-decoration: underline;
}
.L{
    margin-left: 0px;
}
.w{
    text-decoration: underline;
}
.N{
    margin-left: 0px;
}
.b{
    text-decoration: underline;
}